[Unit]
Description=Runs the python script to check for differences in kraken deposits
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/openpayd_alerts/monitor.py
Restart=always

[Install]
WantedBy=multi-user.target
